h2 strong{
    color: rgb(45, 205, 120);
    font-family: Verdana, Geneva, Tahoma, sans-serif, Courier, monospace;}
 strong{
    color: rgb(24, 199, 82);
    font-family: Verdana, Geneva, Tahoma, sans-serif, Courier, monospace;
}